.menu {
  filter: drop-shadow(1px 1px 1px #5116a9);
  width: 200px;
}
ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: var(--accent);
}

li {
  color: var(--background);
  display: block;
  transform-origin: -20px 50%;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 10px;
}
